.NarmandNeatEditor .Sections .Heading div.Tag {
    color:#fff;
    background-color:#712d41;
    width:52px;
    top:19px;
    left:28px;
}

.NarmandNeatEditorRightToLeft .Sections .Heading div.Tag {
    right:28px;
    left:auto;
}

.NarmandNeatEditor .Sections .Heading .Content input{
    border:0;
    font-size:20px;
    font-weight:bold;
    height:auto;
    outline:none;
    padding:0;
}