.NarmandNeatEditor .Sections .Image div.Tag {
    color:#fff;
    background-color:#bd295a;
    width:40px;
    left:40px;
}

.NarmandNeatEditorRightToLeft .Sections .Image div.Tag {
    right:40px;
    left:auto;
}