.NarmandNeatEditor {
    margin-top: 15px;
    position: relative;
    border: 1px solid #a6a6a6;
    background: url(Images/SectionTagsBg.png) repeat-y #fff;
    font-family:Helvetica;
}

.NarmandNeatEditorRightToLeft {
    direction: rtl;
}

.NarmandNeatEditor * {
    margin: 0;
    padding: 0;
}

.NarmandNeatEditor .SectionAdders {
    font-size: 10px;
    margin: 15px 20px 15px 100px;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom:15px;
    position:relative;
}

.NarmandNeatEditor .SectionAdders .Tag {
    position:absolute;
    top:0;
    left:-40px;
    width:20px;
    height:20px;
    line-height:18px;
    font-size:16px;
    color:#3b3e00;
    background:url(Images/SectionTagBg.png) no-repeat right center #dce800;
    padding-left:5px;
    cursor:default;
}

.NarmandNeatEditor .SectionAdders .SectionAdder {
    display: inline-block;
    cursor: pointer;
    margin: 0 10px 0 0;
    border-radius: 5px;
    background-color: #fff;
    border: 1px dashed #cacac8;
    padding: 2px 4px 3px 4px;
}

.NarmandNeatEditorRightToLeft .SectionAdders .SectionAdder {
    margin: 0 0 0 10px;
}

.NarmandNeatEditor .Sections .Section {
    position: relative;
    background-color: #fff;
    margin:0 20px 0 100px;
    border-bottom: 1px solid #e2e2e2;
}

.NarmandNeatEditor .Sections .Section *{
    outline:none;
}

.NarmandNeatEditor .Sections .Section div.Tag {
    position:absolute;
    top:5px;
    left:-80px;
    width:60px;
    height:20px;
    line-height:18px;
    font-size:10px;
    color:#747474;
    background:url(Images/SectionTagBg.png) no-repeat right center #cacac8;
    padding-left:5px;
    cursor:default;
}

.NarmandNeatEditor .Sections .Section .ToolsWrapper {
    width: 40px;
    position: absolute;
    top: 5px;
    right: 0px;
}


.NarmandNeatEditor .Sections .Section .Handle, .NarmandNeatEditor .Sections .Section .CloseButton {
    background-color: #eaeaea;
    border-radius: 8px;
    font-family: helvetica;
    font-size: 9px;
    height: 16px;
    line-height: 12px;
    text-align: center;
    width: 16px;
    cursor: n-resize;
    display: none;
    float: right;
    margin-left: 3px;
}

.NarmandNeatEditor .Sections .Section .Handle:hover {
    background-color: #9de3eb;
}


.NarmandNeatEditor .Sections .Section .CloseButton {
    line-height: 13px;
    cursor: pointer;
}

.NarmandNeatEditor .Sections .Section .CloseButton:hover {
    background-color: #ff5c36;
}



.NarmandNeatEditor .Sections .Section:hover .Handle, .NarmandNeatEditor .Sections .Section:hover .CloseButton {
    display: block;
}

.NarmandNeatEditor .Sections .Section .Content {
    margin: 10px 40px 10px 0px;
    padding: 5px;
}

.NarmandNeatEditor .Sections .HtmlCode .Content textarea{
    border:0;
}

.NarmandNeatEditor .Toolbar {
    position: absolute;
    left: 20px;
    top: -15px;
    background-color: #eaeaea;
    overflow: hidden;
    border-radius: 8px;
    padding:3px 0 3px 5px;
}

.NarmandNeatEditor .Toolbar .Tool {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    overflow: hidden;
    float: left;
    border-radius: 8px;
    cursor: pointer;
    padding:2px;
    outline:none;
}

.NarmandNeatEditor .Toolbar .Tool:hover {
    background-color:#dcdcdc;
}
